@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#81a9f3;
    height: 100px;
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    
.wrapper{
    padding: 20px;
    margin-top: 10px;
    background-color: #4f79f5;
    border-radius: 20px;
    width: 360px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.25);
    text-align: center; 
}

#temperature #temperature-unit{
    font-size: 1.5rem;
    color: #ffffff;
}

#temperature #temperature-value{
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

#climate{
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#location{
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#temperature-icon{
    margin: 3rem;
}

#search-button{
    color: #080303;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    border-radius: 5px;
    margin-left: 5px;
    padding: 10px;
    border: 5px solid #0e0404;
    display: inline-block;
    width: 100px;
    transition: all 0.4 ease 0s;
}

#search-button:hover{
cursor: pointer;
background: #e72626;
border-color: #ff6768;
transition: all 0.4 ease 0s;
}

#search-input{
    width: 230px;
    overflow: hidden;
    font-size: 20px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid #ff6768;
    color: white;
    outline: none;
    background: none;
}

input{
    border : none;
}